@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    /*(main BG)*/
    --card-bg: hsl(216, 50%, 16%);
    /*(card BG)*/
    --hr-col: hsl(215, 32%, 27%);
    /*(line)*/
    --White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    min-height: 100vh;
    padding: 2em 1em;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 1.5em;
    max-width: 22em;

}

.card-img {
    border-radius: 10px;
    position: relative;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--Cyan);
    z-index: 2;
    cursor: pointer;
}

.eye {
    color: var(--White);
    height: 2.5em;
    z-index: -1;
    position: absolute;
    top: 8.5em;
    left: 8.3em;
}

.card-img img:first-child:hover {
    position: absolute;
    top: 0;
    opacity: 0.5;
    transition: 0.3s ease-out;
}

.card-img img:first-child {
    height: 100%;
    width: 100%;
    z-index: -2;
}

.card-body h2 {
    color: var(--White);
    font-weight: 600;
}

.card-body h2:hover {
    color: var(--Cyan);
    cursor: pointer;
    transition: 0.3s ease-out;

}

.card-body p {
    color: var(--Soft-blue);
    margin: 1em 0;
    font-size: 18px;
}

.card-body span {
    color: var(--Cyan);
}

.price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--hr-col);
    margin: 1em;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;
}

.footer img {
    height: 2.3em;
    border-radius: 200px;
    border: 2px solid var(--Soft-blue);
}

.footer p b:hover {
    color: var(--Cyan);
    cursor: pointer;
    transition: 0.3s ease-out;

}